{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Area Start -->
      {% include 'hero.html' %}
    <!-- Hero Area End -->

    <!-- Team Section Start -->
      {% include 'equipe.html' %}
    <!-- Team Section End -->
  
    <!-- Testimonial Section Start -->
      {% include 'clientes.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
      {% include 'chamada.html' %}
    <!-- Call To Action Section Start -->

    <!-- Footer Section Start -->
      {% include 'footer.html' %} 
    <!-- Footer Section End -->
  {% endblock %}
